/*=================adobe FONTS=================*/
@import url("https://use.typekit.net/nfr6rzc.css");

/*=================VARIABLE CSS=================*/
:root{


    /*========Colors=========*/
    --white: #fff;
    --black: #000;
    --grey-extralight: #f0f0f0;
    --grey-light: #d6d6d6;
    --grey-mid: #cecece;
    --grey-dark: #121212;
    --grey-trans: rgba(54, 54, 54, 90%);

    --button-color: #D60000;

    /*========typography=========*/
    --body-font: "ltc-goudy-oldstyle-pro", serif;
    --header-font: "bebas-neue-pro", sans-serif;

    /*========DESKTOP font sizes=========*/

    --h1-font-size: 60px;
    --h2-font-size: 40px;
    --h3-font-size: 30px;
    --h4-font-size: 2.2rem;
    --h5-font-size: 1.2rem;
    --h6-font-size: 0.8rem;
    --p-font-size: 0.9rem;
    --p-large-font-size: 1.1rem;

    /*========MOBILE font sizes=========*/
    --h1-mob-font-size: 2rem;
    --h2-mob-font-size: 1.9rem;
    --h3-mob-font-size: 1.7rem;
    --h4-mob-font-size: 2rem;
    --h5-mob-font-size: 1rem;
    --h6-mob-font-size: 0.7rem;
    --p-mob-font-size: 0.75rem;
    /*========font weight=========*/
    --title-spacing: 0.2rem;
    --title-mob-spacing: 0.2rem;
    --body-spacing: 0.05rem;
    --body-mob-spacing: 0.7px;
    /*==========z-index===========*/
    --z-fixed: 10;
    --z-modal: 100;
}
/*======================BASE=====================*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html{
    scroll-behavior: smooth;

}
a{
    text-decoration: none;
}
/*==================================================================REUSABLE CSS CLASSES==============================================================================*/
#hyperlink{
    color:var(--button-color);
    text-decoration: none;
    font-weight: 700;}

h1{
    font-family: var(--header-font);
    font-size: var(--h1-font-size);
    letter-spacing: var(--title-spacing);
    font-weight: 800;    
}
h2{
    font-family: var(--header-font);
    font-size: var(--h2-font-size);
    letter-spacing: var(--title-spacing);
    font-weight: 650;
    text-transform: uppercase;
}
    
h3{
    font-family: var(--header-font);
    font-size: var(--h3-font-size);
    letter-spacing: var(--title-spacing);
    font-weight: 500;}
h4{
    font-family: var(--header-font);
    font-size: var(--h4-font-size);
    letter-spacing: var(--title-spacing);
    font-weight: 500;}
h5{
    font-family: var(--header-font);
    font-size: var(--h5-font-size);
    letter-spacing: var(--title-spacing);
    font-weight: 500;}
h6{
    font-family: var(--header-font);
    font-size: var(--h6-font-size);
    letter-spacing: var(--title-spacing);
    font-weight: 700;
    }   
p, ul{
    font-family: var(--body-font);
    font-size: var(--p-font-size);
    letter-spacing: var(--body-spacing);}
.p-large{
    font-family: var(--body-font);
    font-size: var(--p-large-font-size);
    letter-spacing: var(--body-spacing);}
.p-creditline{
    font-size: 0.6rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    background-color: var(--button-color);
    padding:0.5rem 2rem;
    border-radius:3rem;
    border: 0;
    color: var(--white);
    font-family: var(--header-font);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: var(--title-spacing);
    text-transform: uppercase;        
}
.button:hover{
    background-color: var(--black);color: var(--white); cursor: pointer;
}



/*==============REUSABLE MOBILE CSS CLASSES=============*/
@media (max-width: 770px){
    h1{
        font-size: var(--h1-mob-font-size);
        letter-spacing: var(--title-mob-spacing);  
    }
    h2{
        font-size: var(--h2-mob-font-size);
        letter-spacing: var(--title-mob-spacing);
    }
    h3{
        font-size: var(--h3-mob-font-size);
        letter-spacing: var(--title-mob-spacing);
    }
    h4{
        font-size: var(--h4-mob-font-size);
        letter-spacing: var(--title-mob-spacing);
    }
    h5{
        font-size: var(--h5-mob-font-size);
        letter-spacing: var(--title-mob-spacing);
        font-weight: 500;}
    h6{
        font-size: var(--h6-mob-font-size);
        letter-spacing: var(--title-mob-spacing);
        font-weight: 700;}  
    p, ul{
        font-size: var(--p-mob-font-size);
        letter-spacing: var(--body-mob-spacing);
    }
}
/*===============================================================GLOBAL STYLES=========================================================================================*/

/*===================NAVBAR=======================*/
nav{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.829);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: var(--z-modal);
    align-items:center ;
    font-family: var(--header-font);
    justify-content: space-between;
    padding: 0 10%;
}
nav ul{
    font-family: var(--header-font);
    letter-spacing: var(--title-spacing);
    font-size: var(--h2-font-size);
}
.logo, .main-menu{
    display: flex;
}
.logo-img{
    height: 70px;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
}
.site-logo #Layer_2{
     fill: white;
}
.site-logo{
    width: 170px;
}


/*===========MAIN MENU===========*/
.main-menu{
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}
.menu-item a{
    font-size: var(--h3-font-size);
    color: var(--grey-light);
    letter-spacing:var(--title-spacing) ;
    color: var(--white);
    font-weight: 300;
    list-style: none;
    cursor: pointer;
}
.menu-item a:hover{
    color: var(--button-color);
}

@media (min-width: 770px){
    .mobile-menu{
        display: none;
    }
}
@media (max-width: 770px){
    .main-menu{
        display: none;
    }
            .mobile-menu{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px 0px 30px 0px;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.829);
                color: var(--white);
                position: absolute;
                top: 100px;
                left: 0px;
                gap: 20px;
                transition: 0.3s ease-in-out;
                opacity: 1;
                list-style: none;
                opacity: 0;
                transform: translateX(100%);
                transition: 0.3s;
            }
            .menu-item{
                width: 100%;
                text-align: center;
                border-bottom: 2px solid rgba(255, 255, 255, 0.05);
                padding-bottom: 1.5rem;
            }

            .menu-icons .socialicon{
                font-size: 1.8rem;
                letter-spacing: 20px;
                text-align: center;
                cursor: pointer;
                color: var(--grey-light);
            }
            .menu-icons .socialicon:hover{
                color: white;
            }

            .mobile-menu.is-open {
                opacity: 1;
                transform: translateY(0);
                transition: 0.3s;
            }
}
/*===========HAMBURGER===========*/
.hamburger{
            display: block;
            position: relative;
            z-index: 1;
            user-select: none;
            appearance: none;
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
}
.hamburger span{
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background-color: var(--grey-light);
            border-radius: 6px;
            z-index: 1;
            transform-origin: 0 0;
            transition: 0.4s;
}
.hamburger:hover :nth-child(2) {
            transform: translateX(10px);
            background-color: var(--button-color);
}
.hamburger:hover span{
            background-color: var(--white);
}   
.hamburger.is-active span:nth-child(1){
            transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
            opacity: 0;
            transform: translateX(15px);
}
.hamburger.is-active span:nth-child(3){
            transform: translate(-3px, 3px) rotate(-45deg);
}
.hamburger.is-active:hover span{
            background-color: var(--button-color);
}
@media (min-width: 770px){
.hamburger{
                display: none;
}}
/*============FOOTER============================*/
.footer{
    background-color: var(--black);
}
.footer-section{
    padding: 0px 10% 50px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.footer-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: baseline;
    gap: 20px;
}

.footer-left img{
    width: 144.54px;
    height: 182px;
}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer-right .footer_headline{
    font-size: 70px;
    letter-spacing: var(--title-spacing);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--button-color) ;
    padding: 20px 0 10px 0;
}
.footer-right p{
    text-align: right;
    line-height: 1.5;
    letter-spacing: var(--body-spacing);
    color: var(--white);
}
.footer-right p a{
    text-decoration: underline;
    color: white!important;
}
.footer-right p:nth-last-child(2){
    padding-bottom: 40px;
}
@media (max-width: 930px){
        .footer-section{
            padding: 70px 5% 70px 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .footer-logo{
            padding-bottom: 30px;
        }

        .footer .socials i{
            font-size: 1.4rem;
            letter-spacing: 10px;
        }
        .footer .socials i:hover{
            font-size: 1.4rem;
        }
        .footer-right h6{
            margin-bottom: 10px;
        }
        .footer-left {
            gap: 10px;
            padding-bottom: 30px;
            text-align: center;
        }


        .footer-right{
            margin-top: 30px;
            padding-top: 30px;
            border-top: 1px solid var(--button-color);
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

}

/*=========================================================================================GLOBAL STYLES END=========================================================================================*/

/*=======================================================================================HOME===================================================================================*/
.home p a{
    color: var(--button-color);
    font-weight: 700;
}
/*===========Hero section===========*/
.hero-homepage{
    position: relative;
}
.hero-homepage, img{
    height:700px; 
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.hero-blur{
    height: 142px;
    width: 100%;
    background: linear-gradient(0deg, black, transparent);
    z-index: 20;
    position: absolute;
    bottom: 0;
}
.hero_wavey-banner{
    width: 100%;
}
.wavey-banner_down{
    width: 100%;
    content:
    url('data:image/svg+xml,<svg width="1440" height="144" viewBox="0 0 1440 144" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_116_539" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1440" height="144"><rect width="1440" height="144" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_116_539)"><path d="M-31.1408 -9H1470.34C1525.75 71.6739 1599.03 120.486 1470.34 101.698C915.166 20.6524 265.37 207.303 -31.1404 101.698C-103.414 75.957 -72.372 33 -72.372 33C-72.372 33 -47.3156 8.44669 -31.1408 -9Z" fill="black"/></g></svg>');
}
.footer-banner{
    width: 100%;
}
.wavey-banner_up{
    width: 100%;
    content:
    url('data:image/svg+xml,<svg width="1440" height="144" viewBox="0 0 1440 144" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_117_627" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1440" height="144"><rect x="1440" y="144" width="1440" height="144" transform="rotate(-180 1440 144)" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_117_627)"><path d="M1471.14 153L-30.3351 153C-85.7545 72.3261 -159.033 23.5144 -30.3353 42.3022C524.834 123.348 1174.63 -63.3025 1471.14 42.3022C1543.41 68.043 1512.37 111 1512.37 111C1512.37 111 1487.32 135.553 1471.14 153Z" fill="black"/></g></svg>');
}
.wavey-banner_container{
    position: absolute;
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero-text{
    color: white;
}

.social-icons{
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.social-icons a[href*="facebook"]{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='40' viewBox='0 0 39 40' fill='none'%3E%3Cpath d='M38.5027 20.1159C38.5021 16.4143 37.4475 12.7903 35.4635 9.67302C33.4796 6.55573 30.6495 4.0757 27.3082 2.52652C23.967 0.977333 20.2546 0.423878 16.6104 0.931673C12.9663 1.43947 9.54305 2.98725 6.746 5.39178C3.94895 7.7963 1.89521 10.9569 0.827926 14.4993C-0.239359 18.0418 -0.275498 21.8178 0.723788 25.3802C1.72307 28.9427 3.71594 32.1425 6.46645 34.6008C9.21696 37.0591 12.6099 38.6729 16.2437 39.2512V25.7185H11.3552V20.1159H16.2437V15.8484C16.2437 10.994 19.1183 8.31232 23.5157 8.31232C24.9594 8.33251 26.3997 8.45894 27.8251 8.6906V13.4576H25.3965C24.9825 13.4016 24.5613 13.4402 24.1642 13.5704C23.767 13.7006 23.4041 13.9191 23.1023 14.2097C22.8006 14.5002 22.5677 14.8555 22.421 15.249C22.2742 15.6425 22.2174 16.0642 22.2548 16.4828V20.1159H27.5957L26.7454 25.7185H22.259V39.2512C26.7872 38.5295 30.9109 36.2058 33.8886 32.6981C36.8662 29.1905 38.5023 24.7289 38.5027 20.1159Z' fill='white'/%3E%3C/svg%3E");
}
.social-icons a:hover[href*="facebook"]{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='40' viewBox='0 0 39 40' fill='none'%3E%3Cpath d='M38.5027 20.1159C38.5021 16.4143 37.4475 12.7903 35.4635 9.67302C33.4796 6.55573 30.6495 4.0757 27.3082 2.52652C23.967 0.977333 20.2546 0.423878 16.6104 0.931673C12.9663 1.43947 9.54305 2.98725 6.746 5.39178C3.94895 7.7963 1.89521 10.9569 0.827926 14.4993C-0.239359 18.0418 -0.275498 21.8178 0.723788 25.3802C1.72307 28.9427 3.71594 32.1425 6.46645 34.6008C9.21696 37.0591 12.6099 38.6729 16.2437 39.2512V25.7185H11.3552V20.1159H16.2437V15.8484C16.2437 10.994 19.1183 8.31232 23.5157 8.31232C24.9594 8.33251 26.3997 8.45894 27.8251 8.6906V13.4576H25.3965C24.9825 13.4016 24.5613 13.4402 24.1642 13.5704C23.767 13.7006 23.4041 13.9191 23.1023 14.2097C22.8006 14.5002 22.5677 14.8555 22.421 15.249C22.2742 15.6425 22.2174 16.0642 22.2548 16.4828V20.1159H27.5957L26.7454 25.7185H22.259V39.2512C26.7872 38.5295 30.9109 36.2058 33.8886 32.6981C36.8662 29.1905 38.5023 24.7289 38.5027 20.1159Z' fill='%23D60000'/%3E%3C/svg%3E");
}
.social-icons a[href*="instagram"]{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='40' viewBox='0 0 41 40' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4118 3.63636C7.39516 3.63636 4.13905 6.89247 4.13905 10.9091V29.0909C4.13905 33.1075 7.39516 36.3636 11.4118 36.3636H29.5936C33.6102 36.3636 36.8663 33.1075 36.8663 29.0909V10.9091C36.8663 6.89247 33.6102 3.63636 29.5936 3.63636H11.4118ZM0.502686 10.9091C0.502686 4.88417 5.38685 0 11.4118 0H29.5936C35.6185 0 40.5027 4.88417 40.5027 10.9091V29.0909C40.5027 35.1158 35.6185 40 29.5936 40H11.4118C5.38685 40 0.502686 35.1158 0.502686 29.0909V10.9091Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.382 14.5259C20.2471 14.3576 19.088 14.5515 18.0697 15.0799C17.0513 15.6083 16.2255 16.4444 15.7097 17.4692C15.1939 18.494 15.0143 19.6553 15.1966 20.788C15.3789 21.9208 15.9137 22.9672 16.7249 23.7784C17.5362 24.5897 18.5826 25.1245 19.7153 25.3068C20.848 25.489 22.0094 25.3095 23.0342 24.7937C24.059 24.2779 24.8951 23.452 25.4235 22.4337C25.9519 21.4153 26.1457 20.2563 25.9774 19.1214C25.8058 17.9638 25.2663 16.8921 24.4388 16.0645C23.6113 15.237 22.5396 14.6976 21.382 14.5259ZM16.3949 11.8522C18.0922 10.9715 20.0239 10.6484 21.9154 10.9289C23.8447 11.215 25.6309 12.1141 27.0101 13.4932C28.3893 14.8724 29.2884 16.6586 29.5745 18.588C29.8549 20.4795 29.5319 22.4112 28.6512 24.1085C27.7705 25.8058 26.3771 27.1821 24.6691 28.0418C22.9611 28.9015 21.0255 29.2007 19.1376 28.8969C17.2497 28.5932 15.5057 27.7018 14.1536 26.3497C12.8015 24.9976 11.9102 23.2536 11.6064 21.3658C11.3027 19.4779 11.6019 17.5423 12.4616 15.8343C13.3213 14.1263 14.6976 12.7329 16.3949 11.8522Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.6852 9.99982C28.6852 8.99567 29.4992 8.18164 30.5034 8.18164H30.5215C31.5257 8.18164 32.3397 8.99567 32.3397 9.99982C32.3397 11.004 31.5257 11.818 30.5215 11.818H30.5034C29.4992 11.818 28.6852 11.004 28.6852 9.99982Z' fill='white'/%3E%3C/svg%3E");
}
.social-icons a:hover[href*="instagram"]{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='40' viewBox='0 0 41 40' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4118 3.63636C7.39516 3.63636 4.13905 6.89247 4.13905 10.9091V29.0909C4.13905 33.1075 7.39516 36.3636 11.4118 36.3636H29.5936C33.6102 36.3636 36.8663 33.1075 36.8663 29.0909V10.9091C36.8663 6.89247 33.6102 3.63636 29.5936 3.63636H11.4118ZM0.502686 10.9091C0.502686 4.88417 5.38685 0 11.4118 0H29.5936C35.6185 0 40.5027 4.88417 40.5027 10.9091V29.0909C40.5027 35.1158 35.6185 40 29.5936 40H11.4118C5.38685 40 0.502686 35.1158 0.502686 29.0909V10.9091Z' fill='%23D60000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.382 14.5259C20.2471 14.3576 19.088 14.5515 18.0697 15.0799C17.0513 15.6083 16.2255 16.4444 15.7097 17.4692C15.1939 18.494 15.0143 19.6553 15.1966 20.788C15.3789 21.9208 15.9137 22.9672 16.7249 23.7784C17.5362 24.5897 18.5826 25.1245 19.7153 25.3068C20.848 25.489 22.0094 25.3095 23.0342 24.7937C24.059 24.2779 24.8951 23.452 25.4235 22.4337C25.9519 21.4153 26.1457 20.2563 25.9774 19.1214C25.8058 17.9638 25.2663 16.8921 24.4388 16.0645C23.6113 15.237 22.5396 14.6976 21.382 14.5259ZM16.3949 11.8522C18.0922 10.9715 20.0239 10.6484 21.9154 10.9289C23.8447 11.215 25.6309 12.1141 27.0101 13.4932C28.3893 14.8724 29.2884 16.6586 29.5745 18.588C29.8549 20.4795 29.5319 22.4112 28.6512 24.1085C27.7705 25.8058 26.3771 27.1821 24.6691 28.0418C22.9611 28.9015 21.0255 29.2007 19.1376 28.8969C17.2497 28.5932 15.5057 27.7018 14.1536 26.3497C12.8015 24.9976 11.9102 23.2536 11.6064 21.3658C11.3027 19.4779 11.6019 17.5423 12.4616 15.8343C13.3213 14.1263 14.6976 12.7329 16.3949 11.8522Z' fill='%23D60000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.6852 9.99982C28.6852 8.99567 29.4992 8.18164 30.5034 8.18164H30.5215C31.5257 8.18164 32.3397 8.99567 32.3397 9.99982C32.3397 11.004 31.5257 11.818 30.5215 11.818H30.5034C29.4992 11.818 28.6852 11.004 28.6852 9.99982Z' fill='%23D60000'/%3E%3C/svg%3E");
}
/*=================INTRO==========================*/

.intro-section{
    padding: 100px 10% 100px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(/Assets/img/pexels-karolina-grabowska-4709483.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}
.intro-section p{
    margin-top: 30px;
    width: 700px;
    text-align: center;
}

@media (max-width: 768px){
.intro-section p{
    margin-top: 30px;
    width: 90%;
        text-align: center;
}.intro-section{
    padding: 70px 5% 70px 5%;
}
}


/*=================gallery==========================*/

.gallery-section, .services-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 10% 100px 10%;
    text-align: center;
}

.gallery-wrapper, .services-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.slider .image-wrapper img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
}

@media (max-width: 768px){
.gallery-section, .services-section{
    padding: 70px 5% 70px 5%;
}

.slider .image-wrapper img{
    height: 200px;
    width: 200px;
}
.gallery-wrapper, .services-wrapper{
    flex-direction: column;
}
}



